<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Faction Manager</title>
    <link rel="shortcut icon" th:href="@{../images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{../styles/style.css}">
</head>
<body>
<div class="header" th:fragment="header">
    <ul class="menu">
        <li class="menu-list-left" id="logo">
            <a class="menu-link" id="logo-link" th:href="@{/}">
                <img src="/images/factionManager.png" alt="Faction Manager">
            </a>
        </li>
        <li class="menu-list-left">
            <a class="menu-link" th:href="@{/faction}">Faction</a>
        </li>
        <li class="menu-list-left">
            <a class="menu-link" th:href="@{/systems/all}">Systems</a>
        </li>
        <li class="menu-list-left">
            <a class="menu-link" th:href="@{/influence/last}">Influence</a>
        </li>
        <li class="menu-list-left" sec:authorize="hasAuthority('COMMANDER')">
            <a class="menu-link" th:href="@{/users/all}">Users</a>
        </li>
        <li class="menu-list-left">
            <a class="menu-link" th:href="@{/information}">Information</a>
        </li>
    </ul>
    <ul class="menu">
        <li class="menu-list-right">
            <a class="menu-link" th:href="@{/logout}">Log Out</a>
        </li>
    </ul>
</div>
<div class="content">
    <div class="task-div">
        <h1 th:inline="text">Hello, cmdr <em>[[${#httpServletRequest.remoteUser}]]!</em></h1>
        <div th:switch="${task}">
            <h2 th:case="null">No tasks found!</h2>
            <div th:case="*">
                <table id="task">
                    <thead>
                    <tr>
                        <th colspan="2">Today we have the following tasks:</th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th colspan="2" id="task-footer">Изменено [[${task.taskDate}]] командиром <em>[[${task.userName}]]</em></th>
                    </tr>
                    </tfoot>
                    <tbody>
                        <tr>
                            <td colspan="2" th:text="${task.messageHeader}" class="task-message-header"></td>
                        </tr>
                        <tr th:unless="${#strings.equals(task.combatTask, '')}">
                            <td class="task-code">Боевой приоритет:</td>
                            <td class="task-content" th:utext="${#strings.replace(task.combatTask,
                                    T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></td>
                        </tr>
                        <tr th:unless="${#strings.equals(task.electionTask, '')}">
                            <td class="task-code">Выборы:</td>
                            <td class="task-content" th:utext="${#strings.replace(task.electionTask,
                                    T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></td>
                        </tr>
                        <tr th:unless="${#strings.equals(task.task1, '')}">
                            <td class="task-code">Приоритет №1:</td>
                            <td class="task-content" th:utext="${#strings.replace(task.task1,
                                    T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></td>
                        </tr>
                        <tr th:unless="${#strings.equals(task.task2, '')}">
                            <td class="task-code">Приоритет №2:</td>
                            <td class="task-content" th:utext="${#strings.replace(task.task2,
                                    T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></td>
                        </tr>
                        <tr th:unless="${#strings.equals(task.doNothing, '')}">
                            <td class="task-code">Ничего не делаем:</td>
                            <td class="task-content" id="task-do-nothing" th:utext="${#strings.replace(task.doNothing,
                                    T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></td>
                        </tr>
                        <tr th:unless="${#strings.equals(task.taskDescription, '')}">
                            <td class="task-code">Описание:</td>
                            <td class="task-content" th:utext="${#strings.replace(task.taskDescription,
                                    T(java.lang.System).getProperty('line.separator'),'&lt;br /&gt;')}"></td>
                        </tr>
                    </tbody>
                </table>
                <div class="content" sec:authorize="hasAnyAuthority('COMMANDER,COMMUNIST')">
                    <a class="menu-link" th:href="@{/task/edit/{id}(id=${task.id})}">Edit Task</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>