<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Influence</title>
    <link rel="shortcut icon" th:href="@{../images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{../styles/style.css}">
</head>
<body style="background-color: gainsboro">
<div th:insert="home :: header"></div>
<div class="content">
    <form action="#" th:action="@{/influence/update}" th:object="${form}" method="post">
        <div th:switch="${form}">
            <h2 th:case="null">No influence found!</h2>
            <div th:case="*">
                <h2>Insert day, state and influence for each system</h2>
                <table>
                    <thead>
                    <tr>
                        <th rowspan="2">System</th>
                        <th colspan="2">Last Update: <span th:text="${lastDate}"></span></th>
                        <th colspan="2">
                            <div class="influence-date-main">
                                <div class="influence-date-title">
                                    <label for="date">Update:</label>
                                </div>
                                <div class="influence-date">
                                    <input type="date" th:field="${thisDate}" id="date" placeholder="Date" class="thisDate">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Last State</th>
                        <th>Last Influence</th>
                        <th>New State</th>
                        <th>New Influence</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="influence : ${form}">
<!--                        System-->
                        <td th:text="${influence.systemName}"></td>
<!--                        State-->
                        <td th:text="${influence.state}"></td>
<!--                        Influence-->
                        <td th:text="${influence.influence}"></td>
<!--                        Changes-->
<!--                        <td th:text="${influence.changes}"></td>-->
                        <td>
                            <label>
                                <input type="text" th:value="${influence.state}" class="influence-state">
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="number" th:value="${influence.influence}" class="influence-value">
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <input type="submit" value="Update">
    </form>
</div>
</body>
</html>