<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update Influence</title>
    <link rel="shortcut icon" th:href="@{../images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{../styles/style.css}">
</head>
<body style="background-color: gainsboro">
<div th:insert="home :: header"></div>
<div class="content">
    <form action="#" th:action="@{/influence/update}" th:object="${form}" method="post">
        <div th:switch="${form}">
            <h2 th:case="null">No influence found!</h2>
            <div th:case="*">
                <h2>Insert day, state and influence for each system</h2>
                <table>
                    <thead>
                    <tr>
                        <th rowspan="2">System</th>
                        <th colspan="2">Last Update: [[${form.influences[0].day}]]</th>
                        <th colspan="2">
                            <div class="influence-date-main">
                                <div class="influence-date-title">
                                    <label for="date">Update:</label>
                                </div>
                                <div class="influence-date">
                                    <input type="date" th:field="${form.influences[0].day}"
                                           th:min="${form.influences[0].day}" id="date" class="thisDate">
                                </div>
                            </div>
                        </th>
                    </tr>
                    <tr>
                        <th>Last State</th>
                        <th>Last Influence</th>
                        <th>New State</th>
                        <th>New Influence</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="inf, itemStat : ${form.influences}">
<!--                        System-->
                        <td th:text="${inf.systemName}"></td>
<!--                        State-->
                        <td th:if="${inf.state} == None" th:text="${inf.state}"></td>
                        <td th:if="${inf.state} == No+' '+Control"
                            th:text="${inf.state}" class="state-no-control"></td>
                        <td th:if="(${inf.state} == War) or (${inf.state} == Elections)"
                            th:text="${inf.state}" class="state-conflict"></td>
                        <td th:if="(${inf.state} == Expectation+' '+Of+' '+War)
                            or (${inf.state} == Expectation+' '+Of+' '+Elections)"
                            th:text="${inf.state}" class="state-conflict-expectation"></td>
                        <td th:if="${inf.state} == Expansion"
                            th:text="${inf.state}" class="state-expansion"></td>
                        <td th:if="${inf.state} == Expectation+' '+Of+' '+Expansion"
                            th:text="${inf.state}" class="state-expansion-expectation"></td>
<!--                        Influence-->
                        <td th:if="${inf.influence} >= 75" th:text="${inf.influence}" class="influence-more75"></td>
                        <td th:if="${inf.influence} < 60" th:text="${inf.influence}" class="influence-less60"></td>
                        <td th:unless="(${inf.influence} < 60) or (${inf.influence} >= 75)"
                            th:text="${inf.influence}" class="influence-norm"></td>
<!--                        Hidden for result-->
                        <td hidden>
                            <label>
                                <input type="text" th:name="|influences[${itemStat.index}].systemName|"
                                       th:value="${inf.systemName}"/>
                            </label>
                        </td>
                        <td>
                            <label>
                                <select th:name="|influences[${itemStat.index}].state|" class="influence-state">
                                    <option th:value="None" th:text="None"
                                            th:selected="${inf.state.contains('None')}"></option>
                                    <option th:value="Expectation+' '+Of+' '+Expansion"
                                            th:text="Expectation+' '+Of+' '+Expansion"
                                            th:selected="${inf.state.contains('Expectation Of Expansion')}"></option>
                                    <option th:value="Expansion" th:text="Expansion"
                                            th:selected="${inf.state.contains('Expansion')}"></option>
                                    <option th:value="Expectation+' '+Of+' '+War"
                                            th:text="Expectation+' '+Of+' '+War"
                                            th:selected="${inf.state.contains('Expectation Of War')}"></option>
                                    <option th:value="War" th:text="War"
                                            th:selected="${inf.state.contains('War')}"></option>
                                    <option th:value="Expectation+' '+Of+' '+Elections"
                                            th:text="Expectation+' '+Of+' '+Elections"
                                            th:selected="${inf.state.contains('Expectation Of Elections')}"></option>
                                    <option th:value="Elections" th:text="Elections"
                                            th:selected="${inf.state.contains('Elections')}"></option>
                                    <option th:value="No+' '+Control" th:text="No+' '+Control"
                                            th:selected="${inf.state.contains('No Control')}"></option>
                                </select>
                            </label>
                        </td>
                        <td>
                            <label>
                                <input type="number" th:name="|influences[${itemStat.index}].influence|"
                                       th:value="${inf.influence}" class="influence-value"/>
                            </label>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
</body>
</html>