<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Influence</title>
    <link rel="shortcut icon" th:href="@{../images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{../styles/style.css}">
</head>
<body style="background-color: gainsboro">
<div th:insert="home :: header"></div>
<div class="content">
<!--    -->
    <div th:switch="${influences}">
        <h2 th:case="null">No systems found!</h2>
        <div th:case="influence">
            <h2>Influence</h2>
            <h3>Faction, Date</h3>
            <table>
                <thead>
                <tr>
                    <th>System</th>
                    <th>State</th>
                    <th>Influence</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="influence : ${influences}">
<!--                    System-->
                    <td th:text="${influence.system}"></td>
<!--                    State-->
                    <td th:text="${influence.state}"></td>
<!--                    Influence-->
                    <td th:text="${influence.influence}"></td>
<!--                    Date-->
<!--                    -->
<!--                    -->
                </tr>
                </tbody>
            </table>
        </div>
        <form th:action="@{/influence/update}" method="get" sec:authorize="hasAnyAuthority('COMMANDER,COMMUNIST')">
            <input type="submit" value="Update the Influence">
        </form>
    </div>
</div>
</body>
</html>