<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit System</title>
    <link rel="stylesheet" type="text/css" th:href="@{../../styles/style.css}">
</head>
<body style="background-color: gainsboro">
<div class="header">
    <ul class="menu">
        <li class="menu-list-left" id="logo">
            <a class="menu-link" id="logo-link" th:href="@{/}">
                <img src="/images/factionManager.png" alt="Faction Manager">
            </a>
        </li>
        <li class="menu-list-left">
            <a class="menu-link" href="#">Faction</a>
        </li>
        <li class="menu-list-left">
            <a class="menu-link" th:href="@{/systems/}">Systems</a>
        </li>
        <li class="menu-list-left">
            <a class="menu-link" href="#">Influence</a>
        </li>
    </ul>
    <ul class="menu">
        <li class="menu-list-right">
            <a class="menu-link" th:href="@{/signin}">Sign In</a>
        </li>
    </ul>
</div>
<div class="content">
    <div class="form-div">
        <form action="#"  th:action="@{/signup}" method="POST">
            <span>Register:</span>
            <div class="row">
                <div class="col-35">
                    <label for="username">Username</label>
                </div>
                <div class="col-65">
                    <input type="text" id="username" placeholder="username"><br>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <label for="password">Password</label>
                </div>
                <div class="col-65">
                    <input type="password" id="password" placeholder="password"><br>
                </div>
            </div>




            <input type="submit" class="menu-link" value="Sign Up">
        </form>
    </div>
</div>
</body>
</html>