<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="shortcut icon" th:href="@{../images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{../styles/style.css}">
</head>
<body>
<div class="header">
    <ul class="menu">
        <li class="menu-list-left" id="logo">
            <a class="menu-link" id="logo-link" th:href="@{/}">
                <img src="/images/factionManager.png" alt="Faction Manager">
            </a>
        </li>
        <li class="menu-list-left">
            <a class="menu-link" th:href="@{/information}">Information</a>
        </li>
    </ul>
    <ul class="menu">
        <li class="menu-list-right" sec:authorize="!isAuthenticated()">
            <a class="menu-link" th:href="@{/login}">Log In</a>
        </li>
    </ul>
</div>
<div class="content">
    <h1>Registration</h1>
    <div class="form-div">
        <form th:action="@{/signup}" th:object="${userDto}"  method="post">
<!--            -->
            <div th:if="${userExist}">
                <span class="error-message">User already Exists!</span>
            </div>
<!--            -->
            <div class="row">
                <div class="col-35">
                    <label for="username">Username:</label>
                </div>
                <div class="col-65">
                    <input type="text" th:field="*{username}" id="username" placeholder="username"><br>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <label for="password">Password:</label>
                </div>
                <div class="col-65">
                    <input type="password" th:field="*{password}" id="password" placeholder="password"><br>
                </div>
            </div>
            <input type="submit" value="Sign Up">
        </form>
    </div>
</div>
</body>
</html>