<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Edit System</title>
    <link rel="shortcut icon" th:href="@{../images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{../../styles/style.css}">
</head>
<body style="background-color: gainsboro">
<div th:insert="home :: header"></div>
<div class="content">
    <div class="form-div">
        <form th:action="@{/systems/edit}" th:object="${system}" method="post">
            <span>Edit system data:</span>
            <div class="row">
                <div class="col-35">
                    <label for="id">ID</label>
                </div>
                <div class="col-65">
                    <input readonly type="number" th:field="*{id}" id="id" placeholder="id"><br>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <label for="num">№</label>
                </div>
                <div class="col-65">
                    <input type="number" th:field="*{sysNum}" id="num" placeholder="№"><br>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <label for="sys">System</label>
                </div>
                <div class="col-65">
                    <input type="text" th:field="*{sys}" id="sys" placeholder="System"><br>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <label for="population">Population</label>
                </div>
                <div class="col-65">
                    <input type="number" th:field="*{population}" id="population" placeholder="Population"><br>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <label for="date">Expansion date</label>
                </div>
                <div class="col-65">
                    <input type="date" th:field="*{date}" id="date" placeholder="Date"><br>
                </div>
            </div>
            <input type="submit" class="menu-link" value="Edit System">
        </form>
    </div>
</div>
</body>
</html>