<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Add System</title>
    <link rel="shortcut icon" th:href="@{../images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{../styles/style.css}">
</head>
<body style="background-color: gainsboro">
<div th:insert="home :: header"></div>
<div class="content">
    <div class="form-div">
        <form th:action="@{/systems/add}" th:object="${systemDto}" method="post">
            <span>Enter new system data:</span>
            <div class="row">
                <div class="col-35">
                    <label for="num">№</label>
                </div>
                <div class="col-65">
                    <input type="number" th:field="*{systemNum}" id="num" placeholder="№" max="200"><br>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <label for="systemName">System</label>
                </div>
                <div class="col-65">
                    <input type="text" th:field="*{systemName}" id="systemName" placeholder="System"><br>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <label for="population">Population</label>
                </div>
                <div class="col-65">
                    <input type="number" th:field="*{population}" id="population" placeholder="Population"><br>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <label for="primaryEconomy">Primary Economy</label>
                </div>
                <div class="col-65">
                    <select th:field="*{primaryEconomy}" id="primaryEconomy">
                        <option th:value="None">Select from the list</option>
                        <option th:value="Industrial">Industrial</option>
                        <option th:value="Extraction">Extraction</option>
                        <option th:value="Refinery">Refinery</option>
                        <option th:value="Military">Military</option>
                        <option th:value="Colony">Colony</option>
                        <option th:value="Terraforming">Terraforming</option>
                        <option th:value="High+' '+Tech">High Tech</option>
                        <option th:value="Agriculture">Agriculture</option>
                        <option th:value="Prison">Prison</option>
                        <option th:value="Service">Service</option>
                        <option th:value="Tourism">Tourism</option>
                        <option th:value="Damager">Damager</option>
                        <option th:value="Repair">Repair</option>
                        <option th:value="Rescue">Rescue</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <label for="secondaryEconomy">Secondary Economy</label>
                </div>
                <div class="col-65">
                    <select th:field="*{secondaryEconomy}" id="secondaryEconomy">
                        <option th:value="None">Select from the list</option>
                        <option th:value="Industrial">Industrial</option>
                        <option th:value="Extraction">Extraction</option>
                        <option th:value="Refinery">Refinery</option>
                        <option th:value="Military">Military</option>
                        <option th:value="Colony">Colony</option>
                        <option th:value="Terraforming">Terraforming</option>
                        <option th:value="High+' '+Tech">High Tech</option>
                        <option th:value="Agriculture">Agriculture</option>
                        <option th:value="Prison">Prison</option>
                        <option th:value="Service">Service</option>
                        <option th:value="Tourism">Tourism</option>
                        <option th:value="Damager">Damager</option>
                        <option th:value="Repair">Repair</option>
                        <option th:value="Rescue">Rescue</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <label for="orbitLargeControl">Orbit Large</label>
                </div>
                <div class="col-65">
                    <div class="col-25-left">
                        <input type="number" th:field="*{orbitLargeControl}" id="orbitLargeControl" placeholder="Controlled">
                    </div>
                    <div class="col-15-center">
                        <label for="orbitLarge"> / </label>
                    </div>
                    <div class="col-25-right">
                        <input type="number" th:field="*{orbitLarge}" id="orbitLarge" placeholder="Total">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <label for="orbitMediumControl">Orbit Medium</label>
                </div>
                <div class="col-65">
                    <div class="col-25-left">
                        <input type="number" th:field="*{orbitMediumControl}" id="orbitMediumControl" placeholder="Controlled">
                    </div>
                    <div class="col-15-center">
                        <label for="orbitMedium"> / </label>
                    </div>
                    <div class="col-25-right">
                        <input type="number" th:field="*{orbitMedium}" id="orbitMedium" placeholder="Total">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <label for="planetLargeControl">Planet Large</label>
                </div>
                <div class="col-65">
                    <div class="col-25-left">
                        <input type="number" th:field="*{planetLargeControl}" id="planetLargeControl" placeholder="Controlled">
                    </div>
                    <div class="col-15-center">
                        <label for="planetLarge"> / </label>
                    </div>
                    <div class="col-25-right">
                        <input type="number" th:field="*{planetLarge}" id="planetLarge" placeholder="Total">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <label for="planetBaseControl">Planet Base</label>
                </div>
                <div class="col-65">
                    <div class="col-25-left">
                        <input type="number" th:field="*{planetBaseControl}" id="planetBaseControl" placeholder="Controlled">
                    </div>
                    <div class="col-15-center">
                        <label for="planetBase"> / </label>
                    </div>
                    <div class="col-25-right">
                        <input type="number" th:field="*{planetBase}" id="planetBase" placeholder="Total">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-35">
                    <label for="date">Expansion Date</label>
                </div>
                <div class="col-65">
                    <input type="date" th:field="*{expDate}" id="date" placeholder="Date"><br>
                </div>
            </div>
            <input type="submit" value="Add System">
        </form>
    </div>
</div>
</body>
</html>