<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Systems</title>
    <link rel="stylesheet" type="text/css" th:href="@{../styles/style.css}">
</head>
<body style="background-color: gainsboro">
<div class="header">
    <ul class="menu">
        <li class="menu-list-left" id="logo">
            <a class="menu-link" id="logo-link" th:href="@{/}">
                <img src="/images/factionManager.png" alt="Faction Manager">
            </a>
        </li>
        <li class="menu-list-left">
            <a class="menu-link" href="#">Faction</a>
        </li>
        <li class="menu-list-left">
            <a class="menu-link" th:href="@{/systems/}">Systems</a>
        </li>
        <li class="menu-list-left">
            <a class="menu-link" href="#">Influence</a>
        </li>
    </ul>
    <ul class="menu">
        <li class="menu-list-right"><a class="menu-link" href="#">Login</a></li>
    </ul>
</div>
<div class="content">
    <div th:switch="${systems}">
        <h2 th:case="null">No systems found!</h2>
        <div th:case="*">
            <h2>Systems</h2>
            <table>
                <thead>
                <tr>
                    <th>№</th>
                    <th>System</th>
                    <th>Population</th>
                    <th>Expansion Date</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="system : ${systems}">
                    <td th:text="${system.sysNum}"></td>
                    <td th:text="${system.sys}"></td>
                    <td th:text="${system.population}"></td>
                    <td th:text="${system.date}"></td>
                    <td>
                        <a class="tooltip" th:href="@{/systems/edit/{id}(id=${system.id})}">
                            <img src="/images/edit.png" alt="Edit">
                            <span class="tooltip-text">Edit System</span>
                        </a>
                    </td>
                    <td>
                        <a class="tooltip" th:href="@{/systems/delete/{id}(id=${system.id})}">
                            <img src="/images/delete.png" alt="Delete">
                            <span class="tooltip-text">Delete System</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <form action="#" th:action="@{/systems/add}" method="get">
            <input type="submit" value="Add System">
        </form>
    </div>
</div>
</body>
</html>