<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Systems</title>
    <link rel="shortcut icon" th:href="@{../images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{../styles/style.css}">
</head>
<body style="background-color: gainsboro">
<div th:insert="home :: header"></div>
<div class="content">
    <div th:switch="${systemsDb}">
        <h2 th:case="null">No systems found!</h2>
        <div th:case="*">
            <h1>Systems</h1>
            <table>
                <thead>
                <tr>
                    <th>№</th>
                    <th>System</th>
                    <th>Population</th>
                    <th>Economy</th>
                    <th>
                        <span class="tooltip">
                            OL
                            <span class="tooltip-text">Orbital Large</span>
                        </span>
                    </th>
                    <th>
                        <span class="tooltip">
                            OM
                            <span class="tooltip-text">Orbital Medium</span>
                        </span>
                    </th>
                    <th>
                        <span class="tooltip">
                            PL
                            <span class="tooltip-text">Planet Large</span>
                        </span>
                    </th>
                    <th>
                        <span class="tooltip">
                            PB
                            <span class="tooltip-text">Planet Base</span>
                        </span>
                    </th>
                    <th>
                        <span class="tooltip">
                            Expansion Date
                            <span class="tooltip-text">yyyy-MM-dd</span>
                        </span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sys : ${systemsDb}">
<!--                    №-->
                    <td th:text="${sys.systemNum}"></td>
<!--                    System-->
                    <td th:text="${sys.systemName}"></td>
<!--                    Population-->
                    <td th:text="${#numbers.formatInteger(sys.population,3,'POINT')}"></td>
<!--                    Economy-->
                    <td th:if="${sys.secondaryEconomy} == None" th:text="${sys.primaryEconomy}"></td>
                    <td th:unless="${sys.secondaryEconomy} == None"
                        th:text="${sys.primaryEconomy} + ' / ' + ${sys.secondaryEconomy}"></td>
<!--                    Orbital Large-->
                    <td th:if="${sys.orbitLarge} == null" th:text="'- / -'"></td>
                    <td th:unless="(${sys.orbitLarge} == null) or (${sys.orbitLargeControl} != ${sys.orbitLarge})"
                        th:text="${sys.orbitLargeControl} + ' / ' + ${sys.orbitLarge}" class="equal-stations"></td>
                    <td th:unless="(${sys.orbitLarge} == null) or (${sys.orbitLargeControl} == ${sys.orbitLarge})"
                        th:text="${sys.orbitLargeControl} + ' / ' + ${sys.orbitLarge}"></td>
<!--                    Orbital Medium-->
                    <td th:if="${sys.orbitMedium} == null" th:text="'- / -'"></td>
                    <td th:unless="(${sys.orbitMedium} == null) or (${sys.orbitMediumControl} != ${sys.orbitMedium})"
                        th:text="${sys.orbitMediumControl} + ' / ' + ${sys.orbitMedium}" class="equal-stations"></td>
                    <td th:unless="(${sys.orbitMedium} == null) or (${sys.orbitMediumControl} == ${sys.orbitMedium})"
                        th:text="${sys.orbitMediumControl} + ' / ' + ${sys.orbitMedium}"></td>
<!--                    Planet Large-->
                    <td th:if="${sys.planetLarge} == null" th:text="'- / -'"></td>
                    <td th:unless="(${sys.planetLarge} == null) or (${sys.planetLargeControl} != ${sys.planetLarge})"
                        th:text="${sys.planetLargeControl} + ' / ' + ${sys.planetLarge}" class="equal-stations"></td>
                    <td th:unless="(${sys.planetLarge} == null) or (${sys.planetLargeControl} == ${sys.planetLarge})"
                        th:text="${sys.planetLargeControl} + ' / ' + ${sys.planetLarge}"></td>
<!--                    Planet Base-->
                    <td th:if="${sys.planetBase} == null" th:text="'- / -'"></td>
                    <td th:unless="(${sys.planetBase} == null) or (${sys.planetBaseControl} != ${sys.planetBase})"
                        th:text="${sys.planetBaseControl} + ' / ' + ${sys.planetBase}" class="equal-stations"></td>
                    <td th:unless="(${sys.planetBase} == null) or (${sys.planetBaseControl} == ${sys.planetBase})"
                        th:text="${sys.planetBaseControl} + ' / ' + ${sys.planetBase}"></td>
<!--                    Expansion Date-->
                    <td th:text="${sys.expDate}"></td>
                    <td sec:authorize="hasAnyAuthority('COMMANDER,COMMUNIST')"
                        class="spoilerEdit" style="display: none">
                        <a class="tooltip" th:href="@{/systems/edit/{id}(id=${sys.id})}">
                            <img src="/images/edit.png" alt="Edit">
                            <span class="tooltip-text">Edit System</span>
                        </a>
                    </td>
                    <td sec:authorize="hasAnyAuthority('COMMANDER,COMMUNIST')"
                        class="spoilerDelete" style="display: none">
                        <a class="tooltip" th:href="@{/systems/delete/{id}(id=${sys.id})}"
                           onclick="return confirm('Delete system? This will delete the information about influence');">
                            <img src="/images/delete.png" alt="Delete">
                            <span class="tooltip-text">Delete System</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="content" sec:authorize="hasAnyAuthority('COMMANDER,COMMUNIST')">
            <a class="menu-link" th:href="@{/systems/add}">Add System</a>
            <a class="menu-link" href="javascript:Spoiler('Edit');" id="EditSpoiler">Edit System</a>
            <a class="menu-link" href="javascript:Spoiler('Delete');" id="DeleteSpoiler">Delete System</a>
        </div>
    </div>
</div>
</body>
<script>
    function Spoiler(param) {
        const elements = document.getElementsByClassName("spoiler" + param);
        const text = document.getElementById(param + "Spoiler");
        for (let item of elements) {
            if(item.style.display === "table-cell") {
                item.style.display = "none";
                text.innerHTML = param + " System";
            } else {
                item.style.display = "table-cell";
                text.innerHTML = "Hide " + param;
            }
        }
    }
</script>
</html>