<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="shortcut icon" th:href="@{../images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{../styles/style.css}">
</head>
<body style="background-color: gainsboro">
<div th:insert="home :: header"></div>
<div class="content">
    <div th:switch="${userPage}">
        <h2 th:case="null">No users found!</h2>
        <div th:case="*">
            <h1>Users</h1>
            <table>
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Username</th>
                    <th>Role</th>
                    <th>Enabled</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${userPage}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.role}"></td>
                    <td th:text="${user.enabled}"></td>
                    <td>
                        <a class="tooltip" th:href="@{/users/edit/{id}(id=${user.id})}">
                            <img src="/images/edit.png" alt="Edit">
                            <span class="tooltip-text">Edit User</span>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pagination-main">
                <div class="pagination-name">
                    <span>Pages:</span>
                </div>
                <div th:if="${userPage.totalPages > 0}" th:each="pageNumber : ${pageNumbers}" class="pagination">
                    <div>
                        <a th:href="@{/users/all(size=${userPage.size}, page=${pageNumber})}"
                           th:text=${pageNumber}
                           th:class="${pageNumber == userPage.number + 1} ? active"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>