<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <link rel="shortcut icon" th:href="@{../images/favicon.ico}" type="image/x-icon">
    <link rel="stylesheet" type="text/css" th:href="@{../styles/style.css}">
</head>
<body style="background-color: gainsboro">
<div class="header">
    <ul class="menu">
        <li class="menu-list-left" id="logo">
            <a class="menu-link" id="logo-link" th:href="@{/}">
                <img src="/images/factionManager.png" alt="Faction Manager">
            </a>
        </li>
        <li class="menu-list-left">
            <a class="menu-link" th:href="@{/faction}">Faction</a>
        </li>
        <li class="menu-list-left">
            <a class="menu-link" th:href="@{/systems/all}">Systems</a>
        </li>
        <li class="menu-list-left">
            <a class="menu-link" href="#">Influence</a>
        </li>
        <li class="menu-list-left">
            <a class="menu-link" th:href="@{/users}">Users</a>
        </li>
        <li class="menu-list-left">
            <a class="menu-link" th:href="@{/information}">Information</a>
        </li>
    </ul>
    <ul class="menu">
        <li class="menu-list-right">
            <a class="menu-link" th:href="@{/logout}">Log Out</a>
        </li>
    </ul>
</div>
<div class="content">
    <div th:switch="${users}">
        <h2 th:case="null">No systems found!</h2>
        <div th:case="*">
            <h2>Users</h2>
            <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Enabled</th>
                    <th>Role</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}">
                    <td th:text="${user.id}"></td>
                    <td th:text="${user.username}"></td>
                    <td th:text="${user.enabled}"></td>
                    <td th:text="${user.role}"></td>
                    <td>
                        <a class="tooltip" href="#">
                            <img src="/images/edit.png" alt="Edit">
                            <span class="tooltip-text">Edit User</span>
                        </a>
                    </td>
<!--                    <td>-->
<!--                        <a class="tooltip" href="#">-->
<!--                            <img src="/images/delete.png" alt="Delete">-->
<!--                            <span class="tooltip-text">Delete User</span>-->
<!--                        </a>-->
<!--                    </td>-->
                </tr>
                </tbody>
            </table>
        </div>
<!--        <form th:action="@{/systems/add}" method="get">-->
<!--            <input type="submit" value="Add System">-->
<!--        </form>-->
    </div>
</div>
</body>
</html>